.rest-list {
  /* turns on flexbox */
  display: flex;
  /*  wraps the flex items */
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.rest-card {
  width: 300px;
  background-color: whitesmoke;
  color: #303030;
  border-radius: 10px;
  border: 10px solid #303030;
}


.rest-img {
  border-radius: 6px;
  width: 280px;
  margin: 10px;
}
